<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Registro de usuario</title>
</head>

<body id="body-form">
    <!--Main-->
    <main id="main-form">
        <div id="form-image" class="form-bg-cuenta-administrador"></div>
        <section id="seccion-form">
            <div>
                <form id="form" action="#">

                    <div id="form-container">

                        <div class="form-title">
                            <a href="#"><img src="../imgs/logo.png" alt="Logo de Sorbil"></a>
                            <h1>Registrar librería</h1>
                        </div>
                        <!--Barra de progreso-->
                        <div>
                            <ul class="progress-bar">
                                <li class="progress-bar__dot full"></li>
                                <li class="progress-bar__connector"></li>
                                <li class="progress-bar__dot"></li>
                                <li class="progress-bar__connector"></li>
                                <li class="progress-bar__dot"></li>
                            </ul>
                        </div>
                        <!--Paso 1 del formulario-->
                        <div class="step step1">
                            <div>
                                <h2>Información de inicio de sesión</h2>
                            </div>
                            <!-- <div class="upload-img">
                                <i class='bx bx-image-add'></i>
                                <label for="file">Sube una imagen</label>
                                <input type="file" id="img-uploader-contraportada" class="upload-msg">
                            </div> -->

                            <div class="input-group">
                                <label for="#">Nombre de usuario</label>
                                <input id="txt-usuario" type="text" placeholder="Ingrese el nombre de usuario"
                                    aria-label="Ingrese el nombre de usuario">
                            </div>

                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Contraseña</label>
                                    <input id="txt-contrasenna" type="password" placeholder="Ingrese la contaseña"
                                        aria-label="Ingrese la contaseña">
                                </div>

                                <div class="input-group">
                                    <label for="#">Verificación de contraseña</label>
                                    <input id="txt-verificacion-contrasenna" type="password" placeholder="Ingrese la contaseña"
                                        aria-label="Ingrese la contaseña">
                                </div>
                            </div>
                        </div>
                        <!--Paso 2 del formulario-->
                        <div class="step step2 hidden">
                            <div>
                                <h2>Información de la librería</h2>
                            </div>
                            <div class="input-group">
                                <label for="#">Nombre comercial</label>
                                <input id="txt-empresa" type="text" placeholder="Ingresar el nombre" aria-label="Ingresar el nombre">
                            </div>
                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <div>
                                        <label for="#">Correo electrónico</label>
                                        <input id="txt-correo" type="email" placeholder="Ingresar el correo electrónico"
                                            aria-label="Ingresar el correo electrónico">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="#">Teléfono</label>
                                    <input id="txt-telefono" type="tel" placeholder="Ingresar el teléfono"
                                        aria-label="Ingresar el teléfono">
                                </div>
                            </div>

                        </div>
                        <!--Paso 3 del formulario-->
                        <div class="step step3 hidden">
                            <div>
                                <h2>Dirección de la Empresa</h2>
                            </div>
                            <div class="input-group">
                                <div>
                                    <label for="#">Provincia</label>
                                    <select id="txt-provincia" name="">
                                        <option value="0" disabled="disabled" selected="true">
                                            Escoger una opción
                                        </option>
                                        <option value="San José">
                                            San José
                                        </option>
                                        <option value="Heredia">
                                            Heredia
                                        </option>
                                        <option value="Cartago">
                                            Cartago
                                        </option>
                                        <option value="Alajuela">
                                            Alajuela
                                        </option>
                                        <option value="Limón">
                                            Limón
                                        </option>
                                        <option value="Guanacaste">
                                            Guanacaste
                                        </option>
                                        <option value="Puntarenas">
                                            Puntarenas
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Cantón</label>
                                    <select id="txt-canton" name="">
                                        <option value="0" disabled="disabled" selected="true">
                                            Escoger una opción
                                        </option>
                                        <option value="Montes de Oca">
                                            Montes de Oca
                                        </option>
                                    </select>
                                </div>

                                <div class="input-group">
                                    <label for="#">Distrito</label>
                                    <select id="txt-distrito" name="">
                                        <option value="0" disabled="disabled" selected="true">
                                            Escoger una opción
                                        </option>
                                        <option value="Sabanilla">
                                            Sabanilla
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <h3>Selecciona las sucursales en el mapa</h3>
                            </div>
                            <!-- <div id="map"></div> -->
                        </div>
                        <!--Botones del formulario-->
                        <div class="form-btns">

                            <div class="center-btns">
                                <div>
                                    <button id="previous" class="disabled button" disabled>
                                        Anterior
                                    </button>
                                </div>

                                <div>
                                    <button id="next" class="button">
                                        Siguiente
                                    </button>
                                </div>
                            </div>

                            <div class="submit-btn">
                                <button id="btn-enviar" type="button" class="hidden button">
                                    Registrar
                                    <i class='bx bx-plus'></i>
                                </button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>
        </section>
    </main>
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnj4Pk6sSOX5m4uxn8jO9VN2YjMUR7iO4&callback=initMap"></script>
    <script src="../js/componentes/controlador-map.js"></script> -->
    <script src="../js/componentes/controlador-form.js"></script>
    <script src="../js/servicio-libreria.js"></script>
    <script src="../js/controlador-registrar-libreria.js"></script>

</body>

</html>