<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="stylesheet" href="../css/layout/usuarios.css">
    <link rel="stylesheet" href="../css/paginas/fenix.css">
    <link rel="stylesheet" href="../vendors/glide-3.3.0/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../vendors/glide-3.3.0/dist/css/glide.theme.min.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon-fenix.png">
    <title>Fénix -- Inicio</title>
</head>

<body>
    <main>
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                    <li class="slider"><a href="#"><img src="../imgs/libro.png" alt=""></a></li>
                </ul>
            </div>
    </main>
    <script src="../vendors/glide-3.3.0/dist/glide.min.js"></script>
    <script src="../js/componentes/controlador-slider.js"></script>
    <script src="../js/componentes/controlador-dropdowns-main.js"></script>
</body>

</html>