<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Iniciar sesión</title>
</head>

<body id="body-form">
    <!--Main-->

    <main id="main-form">

        <div id="form-image" class="form-bg-iniciar-sesion-usuario"></div>

        <section id="seccion-form">

            <div>
                <form id="form" action="#">

                    <div id="form-container" class="form-height">

                        <a href="#"><img src="../imgs/logo.png" alt="Logo de Sorbil"></a>

                        <h1>Inicia sesión</h1>

                        <div class="form-container-inputs">
                            <div>
                                <label for="#">Correo electrónico</label>
                                <input type="email" placeholder="Ingresar el correo electrónico"
                                    aria-label="Ingresar el correo electrónico" value="" data-selected="true"
                                    data-label-id="0">
                            </div>
                            <div>
                                <label for="#">Contraseña</label>
                                <input type="password" placeholder="Ingresar la contraseña"
                                    aria-label="Ingresar la contraseña" value="" data-selected="true" data-label-id="0">
                            </div>
                        </div>
                        <button id="txt-btn" type="submit">Registrar</button>

                    </div>

                </form>
            </div>

        </section>
    </main>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../js/controlador-contacto.js"></script>
</body>

</html>