<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/validar-usuario-adminLib.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="stylesheet" href="../css/layout/usuarios.css">
    <link rel="stylesheet" href="../css/paginas/index.css">
    <link rel="stylesheet" href="../css/paginas/u-inicio.css">
    <link rel="stylesheet" href="../vendors/glide-3.3.0/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../vendors/glide-3.3.0/dist/css/glide.theme.min.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Inicio</title>
</head>

<body>
    <!--Header-->
    <header id="header-user">

        <div id="header-nav-1">
            <a class="logo" href="../index.html"><img src="../imgs/logo.png" alt="Logo de Sorbil"></a>

            <nav>
                <a href="index.html"><i class='bx bx-home-circle'></i>Inicio</a>
                <a href="u-intercambios.html"><i class='bx bxs-book'></i>Intercambios</a>
                <a href="u-quienes-somos.html"><i class='bx bx-user-voice'></i>Quiénes somos</a>
                <a href="u-contacto.html"><i class='bx bx-mail-send'></i>Contacto</a>
            </nav>

            <div id="nav-inicio" class="header-user-icons">
                <div class="header-user-container">
                    <a class="header-icon" href="#"><i class='bx bx-cart-alt'></i>
                        <span class="user-notification">1</span>
                    </a>
                </div>
                <div class="header-user-container">
                    <a class="header-icon" href="#"><i class='bx bx-book-bookmark'></i>
                    </a>
                </div>
                <div class="header-user-container user-menu-wrap"><b class="mini-photo-wrapper" href="#"><img
                            class="mini-photo" src="../imgs/user.png" width="36" height="36"> <i
                            class='bx bx-chevron-down'></i></b>
                    <div class="menu-user-container">
                        <ul class="user-menu">
                            <a class="user-menu-link" href="#">Perfil</a>
                            <a id="btn-cerrar-sesion" class="user-menu-link" href="#">Cerrar sesión</a>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div id="header-nav-2" class="sticky">
            <nav>
                <ul>
                    <li><a href="#">Catálogo de libros<i class='bx bx-chevron-down'></i></a></li>
                    <li><a href="#">Librerías asociadas<i class='bx bx-chevron-down'></i></a></li>
                    <li><a href="#">Clubes de lectura<i class='bx bx-chevron-down'></i></a></li>
                </ul>
            </nav>
        </div>

    </header>
    <!--Main-->
    <!--Main-->
    <main id="main-user">

        <section id="main-user-section-banner">

            <div class="main-user-call-banner">
                <h1>Buscá entre los mejores libros</h1>
                <input id="txt-filtro" type="text" placeholder="Buscar por / título / autor / categoría / género / ISBN"
                    aria-label="Buscar por / título / autor / categoría / género / ISBN">
            </div>

        </section>

    </main>

    <footer id="footer-user">

        <div id="footer-links">
            <a href="index.html"><img src="../imgs/logo-light.png" alt="Logo de Sorbil"></a>

            <nav>
                <a href="#"><i class='bx bx-home-circle'></i>Inicio</a>
                <a href="#"><i class='bx bxs-book'></i>Intercambios</a>
                <a href="#"><i class='bx bx-user-voice'></i>Quiénes somos</a>
                <a href="#"><i class='bx bx-mail-send'></i>Contacto</a>
            </nav>
        </div>

        <div id="footer-copyright">
            <a class="copyright" href="fenix.html">©2019 - Desarrollado con mucho <i class='bx bxs-coffee'></i> por
                <span>FÉNIX</span></a>
        </div>
    </footer>

    <!--Scripts-->
    <!-- Sticky JS -->
    <script src="../vendors/sticky-js-master/dist/sticky.min.js"></script>
    <script src="../js/componentes/controlador-slider.js"></script>
    <script src="../js/componentes/controlador-sticky.js"></script>
    <!-- Glide JS -->
    <script src="../vendors/glide-3.3.0/dist/glide.min.js"></script>
    <script src="../js/componentes/controlador-slider.js"></script>
    <script src="../js/componentes/controlador-dropdowns-user.js"></script>
    <script src="../js/cerrar-sesion.js"></script>
    <!-- <script src="../js/componentes/controlador-nav.js"></script> -->
</body>

</html>