<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/validar-usuario-u.js"></script>
        <link rel="stylesheet" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../css/general.css">
        <link rel="stylesheet" href="../css/layout/administradores.css">
        <link rel="stylesheet" href="../css/layout/usuarios.css">
        <link rel="stylesheet" href="../css/componentes.css">
        <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
        <title>Sorbil -- Perfil de usuario</title>
    </head>

<body id="grid-admin">

    <!--Header-->
    <header id="header-admin">

        <nav class="perfil-usuario-nav">
            <a href="../index.html"><i class='bx bx-home-circle'></i>Inicio</a>
            <a href="../views/ver-perfil-intercambios.html"><i class='bx bxs-book'></i>Intercambios</a>
            <a href="../views/u-quienes-somos.html"><i class='bx bx-user-voice'></i>Quiénes somos</a>
        </nav>

        <div class="header-user-icons">
            <div class="header-user-container">
                <a class="header-icon" href="../views/u-ver-carrito.html"><i class='bx bx-cart-alt'></i>
                    <span class="user-notification">1</span>
                </a>
            </div>
            <div class="header-user-container">
                <a class="header-icon" href="../views/u-ver-libros.html"><i class='bx bx-book-bookmark'></i>
                </a>
            </div>

            <div class="header-user-container user-menu-wrap"><a class="mini-photo-wrapper" href="#"><img id="avatar"
                        class="mini-photo" src="../imgs/user.png" width="36" height="36">
                    <i class='bx bx-chevron-down'></i></a>
                <div class="menu-user-container">
                    <ul class="user-menu">
                        <a class="user-menu-link" href="ver-perfil-usuario.html">Perfil</a>
                        <a id="btn-cerrar-sesion" class="user-menu-link" href="#">Cerrar sesión</a>
                    </ul>
                </div>
            </div>
        </div>

    </header>

   <!--Main-->
   <main id="main-admin">
    <div class="main-admin-titulo">
        <h1>Listados de Clubes</h1>
        <p>Busca la información que te interesa</p>
    </div>

    <div id="barra-busqueda">
        <input type="text" id="txt-filtro" placeholder="Buscar por / Nombre / Tema / Categoría / Género"
            aria-label="Buscar por / Nombre / Tema / Categoría / Género">

        <!-- <button aria-label="Search" type="button">
            <spans>Filtrar</spans>
        </button> -->

    </div>

    <table id="tabla-filtrado">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Administrador</th>
                <th>Tema</th>
                <th>Categoría</th>
                <th>Género</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</main>


    <!--Aside-->
    <aside id="sidenav-admin">

        <div class="sidebar">

            <div class="sidenav-menu">
                <a class="logo" href="../views/ver-perfil-usuario.html"><img src="../imgs/logo.png"
                        alt="logo de Sorbil"></a>
            </div>

            <ul class="sidenav-list">
                <li class="sidenav-list-item"><a href="../views/ver-perfil-usuario.html"><i
                            class='bx bx-home sidenav-i'></i>Inicio</a>
                </li>

                <li class="sidenav-list-item">
                    <a href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bx-plus'></i>
                        Registros
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="../views/u-seleccionar-club.html">Club de lectura</a>
                    </div>
                </li>

                <li class="sidenav-list-item">
                    <a href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bx-list-ul'></i>
                        Listados
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="../views/u-listar-libros.html">Libros</a>
                        <a href="../views/u-listar-clubes.html">Clubes de lectura</a>
                        <a href="../views/u-listar-compras.html">Compras</a>
                    </div>
                </li>

                <li class="sidenav-list-item"><a href="../views/u-tarjetas.html"><i
                            class='bx bxs-credit-card sidenav-i'></i>Tarjetas de crédito</a>
                </li>

                <li class="sidenav-list-item"><a href="../views/u-listar-ofertas.html"><i
                            class='bx bxs-purchase-tag sidenav-i'></i>Ofertas</a>
                </li>


                <li class="sidenav-list-item">
                    <a href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bx-list-plus'></i>
                        Historiales
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="../views/u-calificaciones-libros.html">Calificaciones de libros</a>
                        <a href="../views/u-lista-intercambios.html">Intercambios</a>
                        <a href="../views/u-lista-compras.html">Compras</a>
                    </div>
                </li>
                <li class="sidenav-list-item">
                    <a href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-bell'></i>
                        Notificaciones
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="../views/u-notificacion-intercambios.html">Intercambios nuevos</a>
                    </div>
                </li>

                <li class="sidenav-list-item">
                    <a href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-lock'></i>
                        Seguridad
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="../views/u-cambiar-contrasena.html">Cambiar contraseña</a>
                        <a href="../views/u-desactivar-perfil.html">Desactivar perfil</a>
                    </div>
                </li>

            </ul>
        </div>
    </aside>
    <!--Footer-->
    <footer id="footer-admin">
        <a class="copyright" href="fenix.html">©2019 - Desarrollado con mucho <i class='bx bxs-coffee'></i> por
            <span>FÉNIX</span></a>
    </footer>

    <!--Scripts-->
    <script src="../js/componentes/controlador-dropdowns-nav.js"></script>
    <script src="../js/componentes/controlador-dropdowns-user.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/servicio-club.js"></script>
    <script src="../js/controlador-listar-club.js"></script>
    <script src="../js/cerrar-sesion.js"></script>
    <script src="../js/controlador-inicio-u.js"></script>
</body>

</html>