<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Registro de usuario</title>
</head>

<body id="body-form">
    <!--Main-->
    <main id="main-form">
        <div id="form-image" class="form-bg-registrar-usuario"></div>
        <section id="seccion-form">
            <div>
                <form id="form" action="#">
                    <div id="form-container">
                        <a href="#"><img src="../imgs/logo.png" alt="Logo de Sorbil"></a>
                        <h1>Crear Cuenta</h1>

                        <div>
                            <div class="upload-img">
                                <!--<img id="imgpreview-portada" alt="">  Esto se puede utilizar para mostrar la imagen que el usuario acaba de subir-->
                                <i class='bx bx-image-add'></i>
                                <label for="file">Arrastra o sube una imagen</label>
                                <input type="file" id="img-uploader-portada" class="avatar-msg">
                            </div>
                        </div>
                        <div>
                            <label for="#">Usuario</label>
                            <input type="text" placeholder="Usuario" aria-label="Usuario">
                        </div>

                        <div>
                            <label for="#">Correo electrónico</label>
                            <input type="email" placeholder="Ingresar el correo electrónico"
                                aria-label="Ingresar el correo electrónico" name="searchTerm" value=""
                                data-selected="true" data-label-id="0">
                        </div>

                        <div class="input-dos-columnas">
                            <div>
                                <label for="#">Contraseña</label>
                                <input type="password" placeholder="Ingresar la contaseña"
                                    aria-label="Ingresar título de libro" name="searchTerm" value=""
                                    data-selected="true" data-label-id="0">
                            </div>

                            <div>
                                <label for="#">Verificación de contraseña</label>
                                <input type="password" placeholder="Ingresar la contaseña"
                                    aria-label="Ingresar título de libro" name="searchTerm" value=""
                                    data-selected="true" data-label-id="0">
                            </div>
                        </div>

                        <div>
                            <label for="#">Ingresa a una librería</label>
                            <select id="input_librerias" name="">
                                <option value="0" disabled="disabled" selected="true">
                                    Escoger una opción
                                </option>
                                <option value="Librería">
                                    Librería 1
                                </option>
                            </select>
                        </div>

                        <div>
                            <label for="#">Ingresa a un club de lectura (opcional)</label>
                            <select id="input_club_lectura" name="">
                                <option value="0" disabled="disabled" selected="true">
                                    Escoger una opción
                                </option>
                                <option value="1">
                                    Club de lectura 1
                                </option>
                            </select>
                        </div>

                        <button id="txt-btn" type="submit">Siguiente</button>
                </form>
            </div>
        </section>
    </main>
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</body>

</html>