<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Registro de usuario</title>
</head>
<body id="body-form">
    <!--Main-->
    <main id="main-form">
        <div id="form-image" class ="form-bg-registrar-usuario"></div>
        <section id="seccion-form">
            <div>
                <form id="form" action="#">
                    <div id="form-container">
                        <a href="#"><img src="../imgs/logo.png" alt="Logo de Sorbil"></a>
                        <h1>Crear Cuenta</h1>
                        <h3>Datos personales</h3>

                        <div>
                            <label for="#">Nombre</label>
                            <input type="text" placeholder="Nombre"
                                aria-label="Nombre">
                        </div>

                        <div>
                            <label for="#">Identificación</label>
                            <input type="number" placeholder="Identificación"
                                aria-label="Identificación" name="searchTerm" value=""
                                data-selected="true" data-label-id="0">
                        </div>

                        <div>
                            <label for="#">Primer apellido</label>
                            <input type="text" placeholder="Primer apellido"
                                aria-label="Primer apellido" name="searchTerm" value="" data-selected="true"
                                data-label-id="0">
                        </div>

                        <div>
                            <label for="#">Segundo apellido</label>
                            <input type="text" placeholder="Segundo apellido"
                                aria-label="Segundo apellido" name="searchTerm" value="" data-selected="true"
                                data-label-id="0">
                        </div>
                        <div>
                            <label for="#">Provincia</label>
                            <select id="input_provincias" name="">
                                <option value="0" disabled="disabled" selected="true">Escoger una opción</option>
                                <option value="1">San José</option>
                                <option value="2">Alajuela</option>
                                <option value="3">Cartago</option>
                                <option value="4">Heredia</option>
                                <option value="5">Guanacaste</option>
                                <option value="6">Puntarenas</option>
                                <option value="7">Limón</option>
                            </select>
                        </div>

                        <div>
                            <label for="#">Cantón</label>
                            <select id="input_cantones" name="">
                                <option value="0" disabled="disabled" selected="true">
                                    Escoger una opción
                                </option>
                                <option value="1">
                                    Cantón 1
                                </option>
                            </select>
                        </div>

                        <div>
                            <label for="#">Distrito</label>
                            <select id="input_cantones" name="">
                                <option value="0" disabled="disabled" selected="true">
                                    Escoger una opción
                                </option>
                                <option value="1">
                                    Distrito 1
                                </option>
                            </select>
                        </div>

                        <div>
                            <label for="#">Dirección exacta</label>
                            <textarea id = "direccion_exacta"></textarea>                    
                        </div>
                                                
                        <button id="txt-btn" type="submit">Crear Cuenta</button>
                </form>
            </div>
        </section>
    </main>
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../js/controlador-contacto.js"></script>
</body>
</html>