/* 
Inicio de estilos de los registros
*/

#main-admin #form-registrar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#main-admin #form-registrar button {
    margin-top: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-admin #form-registrar #form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    grid-gap: 3rem;
}

#main-admin #form-registrar input, select, input {
    width: 100%;
}

/* 
Fin de estilos de los registros
*/