/* 
Inicio de estilos de los copyright
*/

.copyright {
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: var(--font-semibold);
    text-decoration: none;
    text-align: center;
}

.copyright:hover {
    color: var(--color-black-light);
}

.copyright i {
    font-size: 2.5rem;
    color: var(--color-alternative-red);
    position: relative;
    top: 5px;
}

.copyright span {
    color: var(--color-black);
    transition: .1s;
}

.copyright span:hover {
    color: var(--color-alternative-red);
}

/* 
Inicio de estilos de formularios
*/

#form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#form p {
    text-align: center;
    font-size: 1.8rem;
    color: var(--color-black);
    font-weight: var(--font-semibold);
}

#form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form select, input, textarea {
    width: 100%;
}

#form select option {
    font-size: 1.4rem;
    display: block;
    padding: 2rem;
}

#form textarea {
    border: 2px solid var(--color-alternative-bg);
    resize: none;
    height: 12rem;
}

#form input, select, textarea {
    box-shadow: var(--shadow-light);
}

#form input[type="date"] {
    cursor: pointer;
    border: 0;
    font-family: inherit;
}

#form .upload-img {
    display: grid;
    justify-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: var(--color-alternative-bg); */
    /* border-radius: 60%; */
}

#form .upload-img img {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
}

#form .upload-img button {
    background-color: transparent;
    color: transparent;
    padding: 7rem;
    position: relative;
    top: -15rem;
    box-shadow: none;
}

#form .upload-img label {
    font-size: 1.4rem;
    color: var(--color-alternative-grey);
    font-weight: var(--font-semibold);
    margin-bottom: 1rem;
    text-align: center;
}

/* #form .upload-img input {
    color: transparent;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#form .upload-img input:hover {
    opacity: .9;
} 

#form .upload-img input::-webkit-file-upload-button {
    visibility: hidden;
}

#form .upload-img input::before {
    color: var(--color-white);
    display: inline-block;
    background: var(--color-alternative-blue);
    border-radius: var(--box-radius);
    padding: var(--box-padding);
    font-weight: var(--font-semibold);
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
}

#form .upload-img .upload-msg::before {
    content: 'Subir';
}

#form .upload-img .avatar-msg::before {
    content: 'Avatars';
}

#form .upload-img input:active, input:focus {
    outline: 0;
    border: none;
} 

/*
Fin de estilos formularios
*/

button, .btn-white, .btn-color {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--shadow-dark-1);
}

button:hover {
    opacity: .9;
    transform: translateY(-3px);
    box-shadow: var(--shadow-dark-2);
}

button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

button:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/*Estilos del botón blanco*/

.btn-white, .btn-color {
    padding: var(--box-padding);
    border-radius: var(--box-radius);
    text-align: center;
}

.btn-color {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-white {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.btn-white:hover, .btn-color:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-dark-2);
}

/* 
Inicio de estilos de los filtros y listados administradores
*/

/*Estilos de la barra de búsqueda*/

#barra-busqueda {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    height: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#barra-busqueda input {
    width: 100%;
    box-shadow: var(--shadow-dark-1);
    border-radius: .4rem 0 0 .4rem;
    transition: all .2s;
}

#barra-busqueda input:focus {
    width: 110%;
}

/* #barra-busqueda button {
    background-color: var(--color-alternative-blue);
    color: var(--color-white);
    border-radius: 0 .4rem .4rem 0;
}

#barra-busqueda button:hover {
    box-shadow: var(--shadow-dark-1);
    transform: translateY(0);
} */

/*
Fin de estilos de la barra de búsqueda
*/

/*
Inicio de estilos de las tablas 
*/

#tabla-filtrado th {
    text-align: justify;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-alternative-grey);
    font-weight: var(--font-semibold);
    padding-left: 1.4rem;
    padding-bottom: 1rem;
}

#tabla-filtrado td {
    text-align: justify;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: var(--font-semibold);
    padding: 1rem;
}

#tabla-filtrado tbody tr {
    width: 100%;
    height: 5rem;
    background-color: var(--color-white);
    border-radius: var(--box-radius);
    border: 1rem solid var(--color-alternative-bg);
    transition: all .3s;
}

#tabla-filtrado tbody tr:hover {
    transform: translateY(-3px);
}

/*
Fin de estilos de las tablas 
*/

/*
Inicio de estilos del header de usuario
*/

.header-user-icons {
    display: grid;
    position: relative;
    top: -3.3rem;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    grid-gap: 5rem;
    justify-self: end;
}

.header-user-icons .header-user-container {
    display: grid;
    align-items: center;
}

.header-user-icons .header-icon {
    position: relative;
}

.header-user-icons .user-notification {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    font-size: .8rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--color-alternative-red);
    color: #fff;
    top: -.8rem;
    right: -.8rem;
}

.header-icon i {
    font-size: 2.4rem;
    color: var(--color-primary-light);
    transition: .2s;
}

.header-icon i:hover {
    color: var(--color-primary);
}

.mini-photo-wrapper {
    cursor: pointer;
}

.mini-photo-wrapper i {
    color: var(--color-black);
    font-size: 1.6rem;
    position: relative;
    top: -.6rem;
}

.user-menu-wrap {
    position: relative;
}

.mini-photo {
    border-radius: 50%;
}

.menu-user-container {
    visibility: hidden;
    opacity: 0;
}

.menu-user-container.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.user-menu {
    position: absolute;
    right: -2rem;
    background-color: #fff;
    width: 12.0rem;
    border-radius: var(--box-radius);
    box-shadow: var(--shadow-light);
    border: var(--color-alternative-grey);
    padding: .5rem 0;
    margin-top: 1rem;
}

.user-menu:before {
    position: absolute;
    top: -16px;
    left: 72px;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.user-menu:after {
    position: absolute;
    top: -14px;
    left: 73px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

.user-menu .user-menu-link {
    display: block;
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.4rem;
    padding: .5rem 1rem;
    border-bottom: var(--line);
    text-align: center;
}

.user-menu .user-menu-link:hover {
    color: var(--color-primary);
}

/*
Inicio de estilos del header de usuario
*/

/*
Inicio de estilos de la navegación del sidenav
*/

.sidebar {
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
}

.sidebar-open {
    transform: translateX(.1rem);
}

.sidenav-list-item {
    border-bottom: var(--line);
}

.sidenav-list-item a {
    width: 100%;
    display: block;
    padding: 1.5rem 1rem;
    border-left: .4rem solid var(--color-white);
    transition: .1s;
}

.sidenav-list-item a:hover {
    border-left: .4rem solid var(--color-primary);
    background-color: var(--color-alternative-bg);
    color: var(--color-black-light);
}

.sidenav-list-item i {
    font-size: 2rem;
    color: var(--color-primary);
    position: relative;
    top: 3px;
}

.sidenav-list-item .chevron {
    float: right;
}

.sidenav-list-item .chevron i {
    color: var(--color-black);
}

.sidenav-list-item .chevron::after {
    content: '';
    clear: both;
}

.sidenav-i {
    /*los íconos de aquellos que no tienen dropdown*/
    margin-right: 1.4rem;
}

.sidenav-btn {
    border-bottom: var(--line);
}

.sidenav-btn i {
    /*los íconos de aquellos que tienen dropdown*/
    margin-right: 1.2rem;
}

.sidenav-small-menu a {
    transition: 0.1s;
    padding: 2rem 2rem;
    border-bottom: var(--line);
    transition: height 350ms ease-in-out;
}

/*Estilos de submenu*/

.dropdown-menu {
    max-height: 0;
    transition: max-height 0.30s ease-out;
    overflow: hidden;
}

.dropdown-mostrar {
    max-height: 500px;
    transition: max-height 0.30s ease-in;
}

/*
Fin de estilos de la navegación del sidenav
*/

/*
Inicio de estilos del carousel 
*/

.slider {
    height: 100%;
    margin-bottom: 10rem;
}

.slider a img {
    width: 80%;
}

/* Cuando el cuadro obtiene el foco cambia el color

.slider[class*=active] {
    box-shadow: none;
    background: var(--color-primary);
} */

/*
Fin de estilos del carousel 
*/

/*
Inicio de estilos del mapa
*/

#map {
    height: 35rem;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/*
Fin de estilos del mapa
*/

/*
Inicio de estilos del header de las cartas
*/

.card-container {
    display: grid;
    justify-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
}

.card-container .card .card-content a {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

/* .card-container img {

    width: 100%;
}

.card-container h2 {

    text-align: center;
}

.card-container p {
    
    text-align: center;
}

.card-container button {
    
    margin: 30px;
} */

.card-container .card:hover {
    opacity: .9;
    transform: translateY(-3px);
    box-shadow: var(--shadow-dark-2);
}

.card-container .card:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

.card-container .card {
    display: grid;
    box-shadow: var(--shadow-dark-1);
    width: 30rem;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;
    border-radius: var(--box-radius);
    background-color: var(--color-white);
}

.card-container .card .card-content {
    display: grid;
    padding-top: 4rem;
    padding-bottom: 5rem;
    justify-items: center;
}

.card-container .card .card-content .card-btn {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s;
    background-color: var(--color-alternative-blue);
    color: var(--color-white);
    box-shadow: var(--shadow-dark-1);
    padding: var(--a-padding);
    border-radius: var(--box-radius);
}

.card-container .card .card-content .card-btn:hover {
    opacity: .9;
    transform: translateY(-1px);
    box-shadow: var(--shadow-light);
}

.card-container .card .card-img {
    background-size: cover;
    height: 20rem;
    background-position: center;
    border-radius: .4rem .4rem 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
}

.card-club-presencial {
    background-image: url(../imgs/card-club-presencial.jpg);
}

.card-club-virtual {
    background-image: url(../imgs/card-club-virtual.jpg);
}

.card-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-row .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem;
    align-items: center;
}

.card-row .card i {
    font-size: 8rem;
    color: var(--color-primary);
}

.card-row .card a {
    font-size: 2rem;
    color: var(--color-secondary);
}

/*
Fin de estilos del header de las cartas
*/

@media (max-width: 76.8rem) {
    #barra-busqueda {
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: block;
    }
    #barra-busqueda input:focus {
        width: 100%;
    }
    #barra-busqueda button {
        display: block;
        width: 100%;
    }
    .header-user-icons {
        justify-self: center;
    }
    .card-container .card {
        grid-template-columns: 1fr;
    }
}