/* 
Inicio de estilos de los filtros y listados administradores
*/

/*Estilos de la barra de búsqueda*/

#main-admin #barra-busqueda {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
}

#main-admin #barra-busqueda input {
    width: 100%;
    box-shadow: var(--shadow-light);
    border-radius: .4rem 0 0 .4rem;
    transition: all .2s;
}

#main-admin #barra-busqueda input:focus {
    width: 105%;
}

#main-admin #barra-busqueda button {
    background-color: var(--color-alternative-blue);
    color: var(--color-white);
    border-radius: 0 .4rem .4rem 0;
}

#main-admin #barra-busqueda button:hover {
    box-shadow: var(--shadow-dark-1);
    transform: translateY(0);
}

/*Estilos de la barra de tablas para filtros*/

#main-admin #tabla-filtrado th {
    text-align: justify;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-alternative-grey);
    font-weight: var(--font-semibold);
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

#main-admin #tabla-filtrado td {
    text-align: justify;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: var(--font-semibold);
    padding: 1rem;
}

#main-admin #tabla-filtrado tbody tr {
    width: 100%;
    height: 5rem;
    background-color: var(--color-white);
    border-radius: var(--box-radius);
    border: 1rem solid var(--color-alternative-bg);
    transition: all .3s;
}

#main-admin #tabla-filtrado tbody tr:hover {
    transform: translateY(-3px);
}

/*
Fin de estilos de los filtros y listados administradores
*/