/* #main-user {
    display: grid;
} */

#main-user-section-banner {
    text-align: center;
    background: var( --color-alternative-bg);
    clip-path: circle(73% at 50% 5%);
    width: 100%;
    height: 110rem;
    margin-bottom: .5rem;
}

#main-user-section-banner .main-user-call-banner {
    animation-name: moveInUp;
    animation-duration: 1s;
    padding: 5rem;
    margin-bottom: .5rem;
}

#main-user-section-banner div button {
    margin: 4rem;
}

#imagen-carrusel-banner {
    width: 100%;
    height: 40%;
    background-size: cover;
}

@media (max-width: 76.8rem) {
    #main-user-section-banner {
        clip-path: none;
    }
}