#main-user {
    display: grid;
}

#libro-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 6rem;
    background: var( --color-alternative-bg);
    background-size: cover;
    width: 100%;
}

#info-libro-descrip{
    display: grid;
    grid-template-columns: 20rem  15rem 1fr;
    grid-gap: 1rem;
}

#info-libro-descrip h1{
    display: grid;
    text-align: start;
    grid-column: span 3;
}


#info-libro-descrip div i {
    font-size: 2rem;
}

#descrip {
    display: grid;
    grid-column: span 3;
}


#info-libro-precio{
    display: grid;
    grid-row: span 2;
    justify-self: center;
    border: solid 2px var(--color-secondary);
    grid-gap: 2rem;
    padding: 4%;
    padding-left: 5%;
    padding-right: 5%;
    background: white;
    max-width: 100%;
}

#info-libro-precio #div-img-portada{
    justify-self: center;
}

.conten-div-precio{
    justify-self: center;
}

#portada{
    width: 20rem;
}

#info-libro-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

#info-libro-div p {
    justify-self: start;
    font-weight: var(--font-semibold);
}