/*
Inicio de estilos generales de administradores 
*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

#grid-admin {
    display: grid;
    grid-template-columns: 22rem 1fr auto auto;
    grid-template-rows: 10rem auto 1fr auto;
    grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    background-color: var(--color-alternative-bg);
}

/*Estilos del header del admin*/

#header-admin {
    grid-area: header;
    display: grid;
    padding: 3rem 3rem;
    background-color: var(--color-white);
    margin-bottom: 3rem;
}

#header-admin .header-text {
    justify-self: start;
    font-size: 1.4rem;
}

/*Estilos del main del admin*/

#main-admin {
    grid-area: main;
    display: grid;
    margin: 4rem 8%;
}

#main-admin #btn-enviar {
    margin-top: 5rem;
}

#main-admin>* {
    margin-bottom: 5rem;
}

#main-admin .main-admin-titulo {
    text-align: center;
    font-weight: var(--font-semibold);
}

#main-admin .main-admin-titulo h1 {
    margin-bottom: 2rem;
}

#main-admin p {
    margin-bottom: 2rem;
}

#main-admin .upload-img {
    height: 8rem;
}

#main-admin #form div {
    margin-bottom: 3rem;
}

#main-admin #form #form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
}

#main-admin #form input, select {
    transition: .2s;
    border: .2rem solid var(--opacity-0);
}

#main-admin #form input:focus, select:focus {
    border: .2rem solid var(--color-alternative-blue);
}

#main-admin #form input[type="file"] {
    border: .2rem solid var(--opacity-0);
}

#main-admin #btn_enviar {
    margin-top: 6rem;
}

/*Sólo en casos específicos*/

#main-admin .centrar-input {
    justify-items: center;
    margin: 0 20%;
}

#main-admin .centrar-input {
    justify-items: center;
    margin: 0 20%;
}

/*Estilos del sidenav del admin*/

#sidenav-admin {
    grid-area: sidenav;
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
}

#sidenav-admin .logo {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
}

#sidenav-admin .logo img {
    width: 100%;
    margin: 2rem 0;
}

/*Estilos del footer del admin*/

#footer-admin {
    grid-area: footer;
    display: grid;
    padding: 2rem 0;
    justify-items: center;
    align-items: end;
}

/*
Fin de estilos generales de administradores
*/

@media (max-width: 76.8rem) {
    #grid-admin {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    #main-admin #form #form-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .chevron {
        display: none;
    }
    .header-text {
        opacity: 0;
    }
}

/*pending to fix*/