/*
Inicio de estilos generales de administradores 
*/

#grid-admin {
    display: grid;
    grid-template-columns: 22rem 1fr auto auto;
    grid-template-rows: 10rem 100vh auto auto;
    grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    background-color: var(--color-alternative-bg);
}

/*Estilos del header del admin FIXME:*/

#header-admin {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1.5rem 1.6rem;
    background-color: var(--color-white);
    margin-bottom: 3rem;
}

#header-admin .header-text {
    justify-self: start;
    font-size: 1.4rem;
}

#header-admin .header-user-icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5rem;
    justify-self: end;
    margin-left: 1rem;
    margin-right: 1rem;
}

#header-admin .header-user-icons .header-icon {
    position: relative;
    margin: 1rem 0;
}

#header-admin .header-user-icons a .user-notification {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    font-size: .8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    background-color: var(--color-alternative-red);
    color: #fff;
    top: -.8rem;
    right: -.8rem;
}

#header-admin .header-user-icons a i {
    font-size: 2.4rem;
    color: var(--color-primary-light);
    transition: .2s;
}

#header-admin .header-user-icons a i:hover {
    color: var(--color-primary);
}

#header-admin a .header-user-photo img {
    height: 3.75rem;
    border-radius: 20%;
    margin-right: .1rem;
}

#header-admin a .header-user-photo i {
    color: var(--color-black);
    font-size: 1.6rem;
    position: relative;
    top: -.7rem;
}

/*Estilos del main del admin*/

#main-admin {
    grid-area: main;
    display: grid;
    margin: 4rem 8%;
}

#main-admin>* {
    margin-bottom: 10rem;
}

#main-admin .main-admin-titulo {
    text-align: center;
    font-weight: var(--font-semibold);
}

#main-admin .main-admin-titulo h1 {
    margin-bottom: 2rem;
}

#main-admin #form #form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    grid-gap: 3rem;
}

#main-admin #form input {
    border: .2rem solid var(--color-alternative-bg);
    transition: .1s;
}

#main-admin #form input:focus {
    border: .2rem solid var(--color-alternative-blue);
}

/*Sólo en casos específicos*/

#main-admin .centrar-input {
    justify-items: center;
    margin: 0 10rem;
}

/*Estilos del sidenav del admin*/

#sidenav-admin {
    grid-area: sidenav;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--color-white);
    font-weight: var(--font-semibold);
    box-shadow: var(--shadow-light);
    font-weight: var(--font-semibold);
}

#sidenav-admin .logo {
    display: grid;
    justify-items: center;
    border-bottom: var(--line);
    margin-bottom: 2rem;
}

#sidenav-admin .logo img {
    width: 60%;
    margin: 3rem 0;
}

/*Estilos de la navegación del sidenav FIXME:*/

#sidenav-admin .sidenav-list {
    overflow: hidden;
    cursor: pointer;
}

#sidenav-admin .sidenav-list-item a {
    transition: .1s;
    line-height: 100%;
    width: 100%;
    display: block;
    padding: 1.5rem 1rem;
    border-left: .4rem solid var(--color-white);
}

#sidenav-admin .sidenav-list-item {
    list-style: none;
    transition: .2s;
    border-bottom: var(--line);
}

#sidenav-admin .sidenav-list-item a:hover {
    border-left: .4rem solid var(--color-primary);
    background-color: var(--color-alternative-bg);
    color: var(--color-black-light);
}

#sidenav-admin .sidenav-list-item i {
    font-size: 2rem;
    color: var(--color-primary);
    position: relative;
    top: 3px;
}

#sidenav-admin .sidenav-btn i {
    margin-right: 0.5rem;
}

#sidenav-admin .sidenav-i {
    margin-right: 1rem;
}

#sidenav-admin .sidenav-btn {
    border-bottom: var(--line);
}

#sidenav-admin .sidenav-btn .bx-chevron-down {
    margin-left: 5rem;
    color: var(--color-black);
}

#sidenav-admin .sidenav-small-menu a {
    display: block;
    /* position: relative; */
    transition: 0.1s;
    padding: 2rem 2rem;
    border-bottom: var(--line);
}

/* #sidenav-admin .sidenav-btn {
    display: block;
    position: relative;
} */

/* #sidenav-admin .sidenav-btn::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    left: 2rem;
    transform: rotate(45deg);
} */

/* #sidenav-admin .sidenav-small-menu {
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
} */

/* #sidenav-admin .sidenav-small-menu a::before {
    display: "";
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

#sidenav-admin .sidenav-small-menu a::before {
    display: "";
    position: absolute;
    width: 6rem;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

#sidenav-admin .sidenav-small-menu a:hover::before {
    opacity: 1;
} */

/* #sidenav-admin .sidenav-list-item:target .sidenav-small-menu {
    max-height: 60rem;
}  */

/*Estilos del footer del admin*/

#footer-admin {
    grid-area: footer;
    display: grid;
    padding: 2rem 0;
    justify-items: center;
    align-items: end;
}

/*
Fin de estilos generales de administradores
*/