/*
Inicio de estilos de formularios
*/

#body-form {
    background-color: var(--color-alternative-bg);
}

#main-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#main-form #form-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}

#main-form .form-bg-iniciar-sesion-usuario {
    background-image: url(../../imgs/iniciar-sesion-usuario.png);
}

#main-form .form-bg-registrar-usuario {
    background-image: url(../../imgs/registro-usuario.png);
}

#main-form #seccion-form {
    box-shadow: var(--shadow-dark-2);
    background-color: var(--color-white);
    margin: 2rem 2rem 2rem 6rem;
}

#main-form #form-container {
    display: grid;
    border-radius: var(--box-radius);
    padding: 1rem;
    align-items: center;
}

#main-form #form #form-container>*, select {
    margin-bottom: 3rem;
}

#main-form #form-container h1 {
    font-size: 2.6rem;
    text-align: center;
    text-transform: initial;
    padding: 1rem;
    margin-bottom: 1rem;
}

#main-form #form-container a {
    text-align: center;
}

#main-form #form-container a img {
    width: 50%;
    padding: 2rem;
}

#main-form #form-container label {
    margin-bottom: 1rem;
    display: block;
}

#main-form #form-container label a {
    font-size: 1.2rem;
    color: var(--color-black-light);
    margin-left: 1rem;
    padding: 1rem;
    transition: .2s;
}

#main-form #form-container label a:hover {
    color: var(--color-alternative-blue);
}

#main-form #form-container input {
    transition: all 0.2s;
    border: .2rem solid var(--color-alternative-bg);
    margin-bottom: 2rem;
}

#main-form #form-container select {
    border: .2rem solid var(--color-alternative-bg);
}

#main-form #form-container .form-container-inputs {
    border: .1rem solid var(--color-alternative-bg);
    padding: 3rem;
}

#main-form #form-container .form-container-inputs div {
    margin-bottom: 2rem;
}

#main-form #form-container input:focus {
    border: .2rem solid var(--color-alternative-blue);
}

/* #main-form #form-container input:hover::not('input[type="file"]'), select:hover {
    transform: translateX(-.1rem);
    box-shadow: var(--shadow-light);
} */

#main-form #form-container .input-dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
}

/*
Fin de estilos de formularios
*/

@media (max-width: 76.8rem) {
    #main-form {
        display: grid;
        grid-template-columns: 1fr;
    }
    #main-form #form-image {
        display: none;
    }
}