/*
Inicio de estilos de formularios
*/

#body-form {
    background-color: var(--color-alternative-bg);
}

#main-form {
    display: grid;
}

#main-form #form-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

#main-form .form-bg-iniciar-sesion-usuario {
    background-image: url(../../imgs/iniciar-sesion-usuario.png);
}

#main-form #form-container {
    display: grid;
    background-color: var(--color-white);
    border-radius: var(--box-radius);
    margin: 3rem;
    padding: 4rem;
    box-shadow: var(--shadow-dark-2);
    align-items: center;
}

#main-form .form-height {
    height: 100vh;
}

#main-form #form-container h1 {
    font-size: 2.6rem;
    text-align: center;
    text-transform: capitalize;
    padding: 2rem;
    border-bottom: var(--line);
    margin: 0 15rem;
}

#main-form #form-container a {
    text-align: center;
}

#main-form #form-container a img {
    width: 50%;
}

#main-form #form-container label {
    margin-bottom: 1rem;
    display: block;
}

#main-form #form-container input {
    transition: all .2s;
    border: 1px solid var(--color-alternative-bg);
    margin-bottom: 2rem;
}

#main-form #form-container .form-container-inputs {
    border: .1rem solid var(--color-alternative-bg);
    padding: 3rem;
}

#main-form #form-container input:focus {
    border: 1px solid var(--color-alternative-blue);
}

#main-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*
Fin de estilos de formularios
*/