/*
Inicio de estilos del header
*/

/*Estilos de la navegación principal*/

#header-user {
    background-color: var(--color-alternative-bg);
}

#header-user a i {
    margin-right: 1rem;
    font-size: 1.8rem;
    position: relative;
    top: .3rem;
}

#header-nav-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 2rem 0;
}

#header-nav-1 .logo {
    display: grid;
}

#header-nav-1 .logo img {
    width: 70%;
    align-self: center;
}

#header-nav-1 nav {
    display: grid;
    justify-items: start;
    grid-template-columns: 8rem repeat(2, 14rem) 10rem;
    grid-column-gap: 2rem;
}

#header-nav-1 a:hover {
    transition: .1s;
}

#header-nav-1 a:hover {
    color: var(--color-primary);
}

/*Estilos de la navegación secundaria*/

#header-nav-2 {
    background-color: var(--color-secondary);
}

#header-nav-2 ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1rem 0;
    margin: 0 auto;
    width: 85%;
}

#header-nav-2 a {
    color: var(--color-white);
}

#header-nav-2 a i {
    color: var(--color-white);
    margin-left: 2.5rem;
}

#header-nav-2 a:hover {
    color: var(--color-alternative-bg);
}

/*
Fin de estilos del header
*/

/*
Inicio de estilos del footer
*/

#footer-user #footer-links {
    display: grid;
    justify-items: center;
    padding: 5rem 0;
    background-color: var(--color-secondary);
}

#footer-user #footer-links img {
    width: 18rem;
}

#footer-user #footer-links a img {
    margin-bottom: 2rem;
}

#footer-user #footer-links nav a {
    color: var(--color-white);
    transition: .1s;
}

#footer-user #footer-links nav a:hover {
    color: var(--color-alternative-bg);
}

#footer-user #footer-links nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2rem;
}

#footer-user #footer-copyright {
    text-align: center;
    background-color: var(--color-alternative-bg);
    width: 100%;
    padding: 1rem 0;
}

/*
Fin de estilos del footer
*/